* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.navFile {
    font-size: 14px;
}

input {
    border: 1px solid blue;
}

.navBody {
    width: 100vw;
    height: 100vh;
    font-size:0.88rem;
    background-color: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
}

.navs {
    color: #363949;
    cursor: pointer;
    text-decoration: none;
}

.navsInactive {
    color: #363949;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.navImg {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
}

.userName {
    font-size: 1.4rem;
    list-style: none;
    /* not sure why this isnt working */
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.inactive img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.taskName {
    font-size: 1rem;
    font-weight: 400;
    /* cursor: pointer; */
}

/* .close { */
    /* background: white; */
    /* display: flex;
    align-items: center;
    margin-top: 1.4rem;
    margin-left: 12rem;
    display: none;
} */
/* .open { */
    /* background: white; */
    /* display: flex;
    align-items: center;
    margin-top: 1.4rem;
    margin-left: 12rem; */
    /* display: none; */
/* } */

.toggleBtn {
    font-size: 20px;
    position: absolute;
    right: 4px;
    /* right: -25px; */
    top: 10%;
    /* display: inline-block; */
}

.inactive .toggleBtn {
    right: -25px;
    cursor: pointer;
}

#hidden {
    position: absolute;
    left: -20px;
    top: 50px;
    height: 230px;
    max-height: 220px;
    width: 100.7%;
    background-color: #927053;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#contain {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

aside .navs span {
    /* display: flex; */
    color: cyan;
    margin-left: 0.8rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease
}

.inactive {
    width: 80px ;
    background-color: black;
    position: fixed;
    /* font-size: 1.5rem; */
    top: 0;
    left: 0;
    height: 100%;
    transition: all 300ms ease;
}

aside #active {
    /* display: flex; */
    background: rgba(5, 29, 236, 0.18);
    color: white;
    margin-left: 0;
}

aside #active:before {
    /* display: flex; */
   content: '';
   width: 6px;
   height: 100%;
   background: white;
}

aside #active span {
    /* display: flex; */
   color: white;
   margin-left: calc(1rem - 3px);
}

.navs:hover, .taskName:hover{
    color: white;
    margin-left: 1rem;
    transition: all 300ms ease;
}

.navsInactive:hover, .taskName:hover{
    color: white;
    margin-left: 1rem;
    transition: all 300ms ease;
}